/* YOUR CUSTOM STYLES */

html,
body,
.view {
    height: 100%;
}

body
{
	background-color: black;
	color: white;
}

.card {
	background-color: rgb(25,25,25);
	border-color: white;
	border-shadow: 0 0 10px white;
}


.view {
    background: url("../img/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex-center {
    color: #fff;
}



.navbar {
    background-color: transparent;
}
.page-footer {
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.scrolling-navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

@media only screen and (max-width: 768px) {

}


.color-white { color: white; }
.color-facebook { color: rgb(59,89,152); }
.color-twitter { color: rgb(0,182,241); }
.color-googleplus { color: rgb(223,74,50); }
.color-youtube { color: rgb(179,18,23); }
.color-linkedin { color: rgb(0,123,182); }
.color-github { color: black; }

html { font-size: 62.5%; }
body {  font-size: 1.6rem; }
.headline-title { font-size:3.2rem;	}
.skill-title { font-size: 2.0rem; }
.skill-badge { font-size: 1.4rem; }
.navbar-brand { font-size: 1.6rem; }
.developed-by-group { font-size: 1.6rem; }



.top-menu-container { max-height: 80px; }
.social-menu-item { 
    font-size: 18px;
	line-height: 18px;
    text-shadow: 0 0 10px white;
	margin: 0px 10px 0px 10px;
}

.bottom-menu-container { height: 80px; }
.bottom-menu-item {   

	
}
.bottom-menu-box {
	text-align:center;
	font-size: 80px;
    color: blue;
	text-shadow: 0 0 10px white;
}
.bottom-menu-icon {
	text-align:center;
	font-size : 54px;
	color: white;
	margin: 10px 0px 0px 0px;
}
.bottom-menu-label { 

    text-align:center;
	height: 16px;
	line-height: 16px;
    font-size: 16px;
    font-weight: bold; 
	color: white;
	text-shadow: 0 0 6px black;
	margin: 64px 0 0 0;
}
.bottom-menu-fixed-area { height:80px; width:80px; line-height:80px; }




#contact .fa {
    font-size: 1.6rem;
    margin-left: -1.6rem;
	margin-right: 1.6rem;
}


.view { text-shadow: 0 0 0.4rem black; }
.skill-title { text-shadow: 0 0 0.2rem black; }
.skill-badge { text-shadow: 0 0 0.2rem black; }
.navbar-brand { text-shadow: 0 0 0.4rem black; }
.developed-by-group { text-shadow: 0 0 0.4rem black; }


.developed-by-group { margin-top: 0.2rem; }
.contact-form { margin-bottom: 15.0rem; }
.self-portrait { margin-top: -4.0rem; }


