/* YOUR CUSTOM STYLES */

html,
body,
.view {
    height: 100%;
}



.view {
    background: url("../img/IMAG0135.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex-center {
    color: #fff;
}

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.navbar {
    background-color: transparent;
}
.page-footer {
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.scrolling-navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

@media only screen and (max-width: 768px) {

}



.facebook-color { color: rgb(59,89,152); }
.twitter-color { color: rgb(0,182,241); }
.googleplus-color { color: rgb(223,74,50); }
.youtube-color { color: rgb(179,18,23); }
.linkedin-color { color: rgb(0,123,182); }
.github-color { color: black; }

.skill-title { font-size: 1.2rem; }
.skill-badge { font-size: 0.8rem; }
.navbar-brand { font-size: 1.5rem; }

.fa-stack { margin-right: 20px; }
.social-icons-group { margin-top: 8px; }
.developed-by-group { margin-top: 2px; }
.footer-nav-group { max-height: 64px; }


