@import url(https://fonts.googleapis.com/css?family=Michroma|Oswald);
/* start of desktop styles */

.bg-white { background-color: rgb(255,255,255); }
.color-white { color: rgb(255,255,255); }
.bg-glacialblue { background-color: rgb(50,50,255); }
.color-glacialblue { color: rgb(50,50,255); }
.bg-lightgray { background-color: rgb(225,225,225); }
.color-lightgray { color: rgb(225,225,225); }

.logo { color: rgb(50,50,255); }
.logo-small { color: rgb(50,50,255); }

* { font-family: 'Michroma', sans-serif; }
p { font-family: 'Oswald', sans-serif; }

html { font-size:62.5%; }
p { font-size:1.6rem; }
.logo{ font-size:15.0rem; }
.logo-small { font-size:5.0rem; }
.big-text-button{ font-size:2.0rem; }


.container-fluid { padding: 50px 100px; }
.zeropad { padding: 0px; }
.brand { padding: 0px 10px; }

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

/* Carosel style */
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: rgb(50,50,255);
}

.carousel-indicators li {
    border-color: rgb(50,50,255); 
}

.carousel-indicators li.active {
    background-color: rgb(50,50,255); 
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}
/* end of carosel style */

/*navbar style*/
.navbar {
    margin-bottom: 0;
    background-color: rgb(255,255,255);
    z-index: 9998;
    border: 0;
    font-size: 1.4rem !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: rgb(0,0,0) !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: rgb(255,255,255) !important;
    background-color: rgb(50,50,255) !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: rgb(50,50,255) !important;
}
/*end navbar style */


/* sliding elements */
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*end sliding elements */




@media screen and (max-width: 991px) {
     /* start of large tablet styles */
    .container-fluid { padding: 50px 80px; }
}

@media screen and (max-width: 767px) {
     /* start of medium tablet styles */
	 .container-fluid { padding: 50px 60px; }
	 
    .sm-screen-center{
        text-align: center;
        margin: 25px 0;
    }
}

@media screen and (max-width: 479px) {
     /* start of phone styles */
    .container-fluid { padding: 50px 40px; }
}